@import 'mixins';
#content {
  // ** Home Content ** //
  &.content__home {
    @include max-width;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}