@import 'mixins';
#content {
  // ** Home Content ** //
  &.content__home {
    @include max-width;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
      margin: 15px 0;
    }
    h1 {
      margin: 15px 0;
      font-size: 2.2em;
    }
    p {
      text-align: center;
      font-size: 1.25rem;
      margin: 15px 0;
    }
  }
}