@import 'mixins';

div.logo {
  @include circle();
  background-color: $main-bg;
  padding: 15px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-content {
    color: $yellow;
    font-size: 4.5rem;
  }

}

.linked-logo {
  &:hover {
    text-decoration: none;
  }
}