@import 'mixins';

#main-nav {
    background: $dark-bg;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    .nav--logo {
        display: none;
    }
    ul {
        @include max-width;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        li {
            a {
                .nav-item--content {
                    color: transparentize($color: $white, $amount: .15);
                    @include transition();
                    font-size: 1.25rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @include hover-focus() {
                        color: $white;
                    }
                }
                .nav-item--icon {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    #main-nav {
        flex-direction: column;
        .nav--logo {
            display: block;
            margin: 20px;
        }
        ul {
            li {
                a {
                    .nav-item--icon {
                        font-size: 1.75rem;
                        margin: 10px;
                    }
                }
            }
        }
    }
}