* {
    font-family: $monospace;
}

body {
    margin: 0;
    background: $main-bg;
}

nav {
    font-family: $monospace;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
    }
}

.flex {
    display: flex;
}

.justify-content__center {
    justify-content: center;
}

.align-items__center {
    align-items: center;
}